// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html{
    font-size: 62.5%; // fontsizeを10pxにするための設定
}
body{
    // font-size: 1.6rem; // 16px
    line-height: 2;
}
input{
    // outline: none;
    border: none;
}
button{
    outline: none;
}
button:focus {
    outline: none;
}
main{
    width: 90%;
    margin: auto;
}
.header{
    padding: 15px;
    text-align: center;
    font-size: 30px;
    background: $base_bg;
}

.valid_shake{
    animation: shake 1.5s 1;
}
@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    2% {
        transform: translate(2px, 2px) rotateZ(2deg)
    }
    4% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }
    6% {
        transform: translate(2px, 0px) rotateZ(-2deg)
    }
    8% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    10% {
        transform: translate(2px, 2px) rotateZ(2deg)
    }
    12% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    14% {
        transform: translate(2px, 0px) rotateZ(-2deg)
    }
    16% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }
    18% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}

.menu_trigger {
    width: 20px;
    height: 17px;
    position: relative;
    border: none;
    outline: none;
    span{
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #707070;
        border-radius: 4px;
    }
    span:nth-of-type(1) {
        top: 0;
    }
    span:nth-of-type(2) {
        top: 50%;
        transform: translate(0, -58%);
    }
    span:nth-of-type(3) {
        bottom: 0;
    }
    
}

.menu_trigger.active {
    // -webkit-transform: rotate(360deg);
    // transform: rotate(360deg);
    span:nth-of-type(1) {
        -webkit-transform: translateY(9px) rotate(-45deg);
        transform: translateY(9px) rotate(-45deg);
    }
    span:nth-of-type(2) {
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    span:nth-of-type(3) {
        opacity: 0;
    }    
}